<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><img class="imgc" src="./../../assets/imagen/cordillera.png"></mat-toolbar>
    <mat-nav-list class="matnavlist">
   <!--  <a (click)="drawer.toggle()" *ngIf="(isHandset$ | async)" mat-list-item routerLink="/inicio"><mat-icon>home</mat-icon>&nbsp;Inicio</a>
      <a  *ngIf=" !(isHandset$ | async)"  mat-list-item routerLink="/inicio"><mat-icon>home</mat-icon>&nbsp;Inicio</a>
      <a  *ngIf="isCliente!=='cliente' && isLogged && !(isHandset$ | async)"  mat-list-item routerLink="/producto"><mat-icon>shopping_cart</mat-icon>&nbsp;Productos</a>
      <a (click)="drawer.toggle()" *ngIf="isCliente!=='cliente' && isLogged && (isHandset$ | async)"  mat-list-item routerLink="/producto"><mat-icon>shopping_cart</mat-icon>&nbsp;Productos</a>
      <a (click)="drawer.toggle()" *ngIf="isCliente!=='cliente' && isLogged && (isHandset$ | async)"  mat-list-item routerLink="/inventario"><mat-icon>assignment</mat-icon>&nbsp;Inventario</a>
      <a  *ngIf="isCliente!=='cliente' && isLogged && !(isHandset$ | async)"  mat-list-item routerLink="/inventario"><mat-icon>assignment</mat-icon>&nbsp;Inventario</a>
      <a (click)="drawer.toggle()" *ngIf="isCliente!=='cliente' && isLogged && (isHandset$ | async)"  mat-list-item routerLink="/cliente"><mat-icon>account_box</mat-icon>&nbsp;Clientes</a>
      <a  *ngIf="isCliente!=='cliente' && isLogged && !(isHandset$ | async)"  mat-list-item routerLink="/cliente"><mat-icon>account_box</mat-icon>&nbsp;Clientes</a>
      <a (click)="drawer.toggle()" *ngIf="isCliente!=='cliente' && isLogged && (isHandset$ | async)"  mat-list-item routerLink="/pedido"><mat-icon>shopping_basket</mat-icon>&nbsp;Pedidos</a>
      <a  *ngIf="isCliente!=='cliente' && isLogged && !(isHandset$ | async)"  mat-list-item routerLink="/pedido"><mat-icon>shopping_basket</mat-icon>&nbsp;Pedidos</a>

      <a (click)="drawer.toggle()" *ngIf="isCliente!=='admin' && isLogged && (isHandset$ | async)"  mat-list-item routerLink="/mispedidos"><mat-icon>shopping_basket</mat-icon>&nbsp;Mis Pedidos</a>
      <a  *ngIf="isCliente!=='admin' && isLogged && !(isHandset$ | async)"  mat-list-item routerLink="/mispedidos"><mat-icon>shopping_basket</mat-icon>&nbsp;Mis Pedidos</a>
      

      <a (click)="drawer.toggle()" *ngIf="isCliente!=='cliente' && isLogged && (isHandset$ | async)"  mat-list-item routerLink="/sugerencia"><mat-icon>email</mat-icon>&nbsp;Sugerencias</a>
      <a  *ngIf="isCliente!=='cliente' && isLogged && !(isHandset$ | async)"  mat-list-item routerLink="/sugerencia"><mat-icon>email</mat-icon>&nbsp;Sugerencias</a>
      <a (click)="drawer.toggle()" *ngIf="isCliente!=='cliente' && isLogged && (isHandset$ | async)"  mat-list-item routerLink="/contacto"><mat-icon>perm_phone_msg</mat-icon>&nbsp;Contacto</a>
      <a  *ngIf="isCliente!=='cliente' && isLogged && !(isHandset$ | async)"  mat-list-item routerLink="/contacto"><mat-icon>perm_phone_msg</mat-icon>&nbsp;Contacto</a>
      <a (click)="drawer.toggle()" *ngIf="isCliente=='cliente' && isLogged && (isHandset$|async)" mat-list-item routerLink="/enviarsu"><mat-icon>sms</mat-icon>&nbsp;Enviar Sugerencias</a>
      <a  *ngIf="isCliente=='cliente' && isLogged && !(isHandset$|async)" mat-list-item routerLink="/enviarsu"><mat-icon>sms</mat-icon>&nbsp;Enviar Sugerencias</a>
      <a (click)="drawer.toggle()" *ngIf="isCliente!=='cliente' && isLogged && (isHandset$ | async)" mat-list-item routerLink="/reporte"><mat-icon>list</mat-icon>&nbsp;Reportes</a>
      <a  *ngIf="isCliente!=='cliente' && isLogged && !(isHandset$ | async)" mat-list-item routerLink="/reporte"><mat-icon>list</mat-icon>&nbsp;Reportes</a>
    -->  
    
   
      <a  mat-list-item routerLink="/inicio"><mat-icon>home</mat-icon>&nbsp;Inicio</a>
      <a  *ngIf="isadmin === true"  mat-list-item routerLink="/producto"><mat-icon>shopping_cart</mat-icon>&nbsp;Productos</a>
      
     
      <a  *ngIf="isadmin === true"  mat-list-item routerLink="/inventario"><mat-icon>assignment</mat-icon>&nbsp;Inventario</a>
     
      <a  *ngIf="isadmin === true"  mat-list-item routerLink="/cliente"><mat-icon>account_box</mat-icon>&nbsp;Clientes</a>
      
      <a  *ngIf="isadmin === true"  mat-list-item routerLink="/pedido"><mat-icon>shopping_basket</mat-icon>&nbsp;Pedidos</a>

      
      <a  *ngIf="isadmin === false && isLogged"  mat-list-item routerLink="/mispedidos"><mat-icon>shopping_basket</mat-icon>&nbsp;Mis Pedidos</a>
      

      
      <a  *ngIf="isadmin == true"  mat-list-item routerLink="/sugerencia"><mat-icon>email</mat-icon>&nbsp;Sugerencias</a>
      
      <a  *ngIf="isadmin === true"  mat-list-item routerLink="/contacto"><mat-icon>perm_phone_msg</mat-icon>&nbsp;Contacto</a>
      
      <a  *ngIf="isadmin === false && isLogged" mat-list-item routerLink="/enviarsu"><mat-icon>sms</mat-icon>&nbsp;Enviar Sugerencias</a>
     
    <a  *ngIf="isadmin === true" mat-list-item routerLink="/reporte"><mat-icon>list</mat-icon>&nbsp;Reportes</a>
    <a  *ngIf="isadmin === true" target="_blank" mat-list-item href="https://analytics.google.com/analytics/web/?authuser=0#/realtime/rt-overview/a139873120w200727726p194906710/"><mat-icon>equalizer</mat-icon>&nbsp;Estadisticas</a>

  
      
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spanclass"  >MANANTIAL DE VIDA</span>
      <a *ngIf="isLogged" mat-list-item routerLink="/carrito"><mat-icon matBadge="{{verContador()}}" matBadgeColor="warn"  matTooltip="Mi Carrito"
         aria-label="Button that displays a tooltip when focused or hovered over"
          class="matc">shopping_cart</mat-icon></a>
      <a *ngIf="isLogged==false" mat-list-item routerLink="/login"><mat-icon matTooltip="Inicio de sesión" aria-label="Button that displays a tooltip when focused or hovered over" class="mati">account_circle</mat-icon></a>
      <a class="auser" *ngIf="isLogged" >{{usuario.email}}</a>

      <a class="clasa" *ngIf="isLogged" [matMenuTriggerFor]="menu"  
       mat-list-item ><a class="mati" matTooltip="Menu"
       aria-label="Button that displays a tooltip when focused or hovered over"> <mat-icon class="mati">account_circle</mat-icon></a>
      
       <mat-menu #menu="matMenu">
        <button routerLink="/pago" mat-menu-item >Cambiar Contraseña</button>
        <button (click)="openDialog()" *ngIf="isadmin === false && isLogged" mat-menu-item >Eliminar mi Cuenta</button>
        <button mat-menu-item routerLink="/login" (click)="onLogout()">Salir</button>
      </mat-menu>
      </a>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>



