




<mat-card class="mycard" id="cont">
    <br>
  <form name="formContacto" #formContacto="ngForm" (ngSubmit)="onEnviar(formContacto)" class="example-form">
    
    <mat-toolbar>
        <span style="color:navy">Contactanos</span>
    </mat-toolbar>

    <div>
        <input [(ngModel)]="this.contApi.selectedContacto.id" name="id" type="hidden"  >
      
  </div>
  
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="this.contApi.selectedContacto.nombre" name="nombre" maxlength="50" matInput placeholder="Nombre" type="text" required>
      
     </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="this.contApi.selectedContacto.correo"  name="correo" maxlength="50"  matInput placeholder="Correo Electrónico" type="email" required>
      <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Por favor ingrese un e-mail válido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          e-mail <strong>requerido</strong>
        </mat-error> 
        -->
        
     </mat-form-field>
  
     <mat-form-field class="example-full-width">
        <span matPrefix>+505 &nbsp;</span>
        <input [(ngModel)]="this.contApi.selectedContacto.telefono" name="telefono" type="tel" minlength="8" maxlength="8"  matInput placeholder="N° Teléfono" required>
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
          <textarea [(ngModel)]="this.contApi.selectedContacto.mensaje"  name="mensaje" matInput placeholder="Mensaje" maxlength="200"  required></textarea>
        </mat-form-field>
  
  
    <button type="submit" mat-raised-button color="primary">Enviar Mensaje</button>
    
   
  
    
  
  </form>
  </mat-card>

  <hr>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Aceptar</button>
    
  </mat-dialog-actions>