.img{
 width: 200px; height: 200px;
 display:block;
 margin:auto; 
 border-radius: 200px;      
}

.img2{
    width: 300px; height: 200px;
    display:block;
    margin:auto; 
    
}

.masinfo{
    top: 50px;
    height: 500px;
   
}


.row{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3; 
    
    
}

h2{
    margin: 0;
}




.row2{
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4; 
   
    
    
}

@media (min-width: 353px) {
    .row {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
}


@media (min-width: 480px) {
    .row {
       
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
        
    }
}

@media (min-width: 768px) {
    .row {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }
}

/* Imagen utilizada en pantallas de anchura 1200 px y superior */
@media (min-width: 1200px) {
    .row {
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
    }
}

@media (min-width: 353px) {
    .row2 {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
}


@media (min-width: 480px) {
    .row2 {
       
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
        
    }
}

.td
{
  
    
    
}

.h3t{
    margin:0;
    padding: 0;
}

@media (min-width: 768px) {
    .row2 {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }
}

/* Imagen utilizada en pantallas de anchura 1200 px y superior */
@media (min-width: 1200px) {
    .row2 {
        -webkit-column-count:4;
        -moz-column-count:4;
        column-count:4;
    }
}

div{
    text-align: center;
    position: relative;
   
    
}


.imgicon{
    width: 30px;
    height: 30px;
    padding: 2px;
    display: inline;
    
}


footer {
    border-top: 10px;
    border-top-color: rgba(34, 78, 85, 0.747);
    border-top-style: solid;
    padding: 20px 0;
    text-align:right;
    background-color: rgb(122, 120, 138);
    font-size: 10px;
    position:relative;
    background-color: rgb(38, 39, 41);
    color:#cccccc;

   
  }


.cuadroimagen{
   height:100%;
    background-color: rgb(243, 245, 247);
    border-radius: 10px;
    resize: inherit;
   
}

.cuadroimagen:hover{
    -webkit-box-shadow: 0px 0px 22px 9px rgb(166, 165, 172);
      -moz-box-shadow: 0px 0px 22px 9px rgb(166, 165, 172);
      box-shadow: 0px 0px 22px 9px rgb(180, 174, 212);
}

  .header{
     
    text-align: center;
    color: white;
    background-image: url("./../../../assets/imagen/nuevap.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    
    background-size: cover;
   width: 100%;
   height: 100%;
   
    background-repeat: no-repeat;
    
    
    
  }


  @media (min-width: 353px) {
    .header {
        height: 180px;
        width: 100%;
    }
}

  @media (min-width: 480px) {
    .header {
       
        height:240px;
        width: 100%;
        background-repeat:repeat-y;
background-position:center;
margin: 0px;
        
    }
}

/* Imagen utilizada en pantallas de anchura 768 px y superior */
@media (min-width: 768px) {
    .header {
        height:350px;
        width: 100%;
    }
}

@media (min-width: 476px) {
    .header {
        height:220px;
        width: 100%;
    }
}

@media (min-width: 761px) {
    .header {
        height:360px;
        width: 100%;
    }
}
@media (min-width: 1216px) {
    .header {
        height:360px;
        width: 80%;
    }
}
/* Imagen utilizada en pantallas de anchura 1200 px y superior */
@media (min-width: 1200px) {
    .header {
        height: 630px;
        width: 100%;
    }
}


.cardmy{
    
}

p{
   text-align:center;
   
}

.masinfo{
    height: 400px;;
}

.mycard{
   
    
    text-align:center;
    padding:2px;
   
   width:60%;
   margin: 0 auto;
   padding: 10px;
   height: 60%;
   display:'block';
   
   position:relative;
  }
  
    .mycard:hover{
     /* -webkit-box-shadow: 0px 0px 22px 9px rgb(166, 165, 172);
      -moz-box-shadow: 0px 0px 22px 9px rgb(166, 165, 172);
      box-shadow: 0px 0px 22px 9px rgb(166, 165, 172);
      */
    }

    .example-full-width {
        width: 100%;
      }
    .mat{
      background-color: aqua;
      padding: 300px;
      text-align: right;
     
    }
    
  
    
 
    
    .areg{
      text-align: center;
      position: relative;
    }
    
    .rdiv{
      display: flex;
      flex-direction: column;
    }
    .rdiv > *{
    width: 80%;
    }
  


    @media (min-width: 353px) {
        .masinfo {
            height: 1600px;
        }
    }
    
    
    @media (min-width: 480px) {
        .masinfo {
           
            height: 1500px;
            
        }
    }
    
    @media (min-width: 768px) {
        .masinfo {
           height: 1000px;
        }
    }
    
    /* Imagen utilizada en pantallas de anchura 1200 px y superior */
    @media (min-width: 1200px) {
        .masinfo {
            height: 500px;
        }
    }


    .card-picture {
        
       
      }
      .galeria{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          grid-gap: 15px;
          grid-auto-rows: 320px;
      }

      .galeria .card-picture{
          width: 80%;
      }

      .card-picture{
          background: rgba(255, 255, 0, 0.205);
         
      }

      
