<div>
  <div>
    <div>
      <h1>Carrito productos agregados</h1>
    </div>
    <div class="row">
      <div>
        
            <mat-card class="cuadroimagen">
                <img style="height:200px; whidth:200px" src="{{producto.imagen}}" alt="{{producto.nombre}}" >
                
                <p class="h3t">Producto:<strong> {{producto.nombre}}</strong></p>
                <div >
                   <div style="padding-bottom:5px;">
                      Precio:<strong> {{producto.precio}} C$ </strong>
                    </div>
                   
                  </div>
                </mat-card> 
        
      </div>

    </div>
  </div>
</div>