
<!--
  
  <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
<h2 *ngIf="paypalLoad">Paypal button is loading</h2>
<div id="paypal-button-container"></div>

-->

<body>
   
<div class="container" >
  <div class="div1">
  <table>
    <thead>
       <tr>
          <td>
              <strong>N°</strong> 
             </td>
         <td>
          <strong>Nombre</strong> 
         </td>
         <td>
            <strong>Producto</strong> 
           </td>
         <td>
          <strong>Precio</strong>
        </td>
        <td>
            <strong>Cantidad</strong>
        </td>
        <td>
            <strong>Sub Total</strong>
        </td>
        <td>
            <strong>Borrar</strong>
        </td>
         
       </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let carrit of carrito; index as i">
        <td>{{i+1}}</td>
        <td>{{carrit.nombre}}</td>
        <td><img matTooltip="Imagen"
          aria-label="Button that displays a tooltip when focused or hovered over"
           style="width:80px;height:80px; object-fit:cover; background-color: rgba(210, 221, 109, 0.13); 
         border-radius: 10px; border-style: solid;border-spacing: 3px;
          border-color:rgba(19, 62, 179, 0.822)" src="{{carrit.urlImage}}"></td>
        <td #preciop>{{carrit.precio}} C$</td>
        <td><input (change)="ActCant(carrit)" type="number" [(ngModel)]="carrit.cant"  min="1"  pattern="^[0-9]+" style="text-align:right;width:50px;" name="cant" #cantidad  required></td>
      
       
     <td #subtotal>{{carrit.subtotal}} C$</td>
    
        <td> <button class="btn btn-danger" color="warn" (click)="onDeleteProductoCarrito(carrit.id)" mat-icon-button  ><mat-icon>delete_outline</mat-icon></button></td>
        
      </tr>
    </tbody>
  
  </table>
 
  <table style="border:none;">
   
  <h3 *ngIf="ActTotal()!==0" class="h3" style="float:right">Total:{{ActTotal()}} C$</h3>

</table>

</div>
  <div class="div2">
  <mat-card class="card">
    <h2><mat-icon>shopping_cart</mat-icon> Carrito</h2>
    <h3 *ngIf="ActTotal()!==0">Total:{{ActTotal()}} C$</h3>
 
    <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
    <button style="padding-top:11px;" id="paypal-button-container"  mat-raised-button color="primary"></button>
    
    <h2 *ngIf="ActTotal()==0">Carrito Vacío</h2>
  </mat-card>
  </div>
  
</div>

</body>