
<mat-dialog-actions align="end">
    <button (click)="resetForm()" mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
    
  </mat-dialog-actions>

<img class="imglog" src="./../../assets/imagen/logomanantialt.png">
<br>

<mat-card class="mimat">
<form class="example-form" name="formInventario" #formInventario="ngForm" (ngSubmit)="onSaveInventario(formInventario)" >
  
  <mat-toolbar>
    <span style="color:navy">{{ !this.dataApi.selectedInventario.id ? 'Nuevo Registro' : 'Actualizar Regisntro'}}</span>
   
</mat-toolbar>

<div>
  <input [(ngModel)]="this.dataApi.selectedInventario.id" name="id" class="inputlog" type="hidden" placeholder="id" >
</div>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]="this.dataApi.selectedInventario.nolote" name="nolote" class="inputlog" type="text" matInput placeholder="N° Lote" minlength="6" maxlength="6" required >
  </mat-form-field>

  <mat-form-field class="example-full-width">
        <input required [(ngModel)]="dataApi.selectedInventario.fechadeingreso" value="{{fechadeingreso}}"  name="fechadeingreso"  matInput [matDatepicker]="picker"  placeholder="Fecha ingreso">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #picker></mat-datepicker>
      </mat-form-field>
    

  <mat-form-field class="example-full-width">
    <input [(ngModel)]="this.dataApi.selectedInventario.cantidad" name="cantidad"  class="inputlog" type="number" matInput placeholder="Cantidad" required >
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <mat-label>Seleccione Producto</mat-label>
      <mat-select required  [(ngModel)]="this.dataApi.selectedInventario.producto" name="producto"  >
          <mat-option  *ngFor="let producto of productos" [value]="producto.nombre">
              
              {{producto.nombre}}
          </mat-option>
        </mat-select>
  </mat-form-field>
  

  <br>
  <br>
  <button style="left:40%" type="submit"  mat-raised-button color="primary">Guardar</button>
 
</form>

</mat-card>  

