table {
    width:50%;
    background-color: rgb(206, 233, 238);
    position: relative;
    left: 10px;
    font-size: 14px;
    top:20px;
  }
  
  .mat-form-field {
    background-color: rgb(206, 233, 238);
    font-size: 14px;
    width:50%;
    left: 10px;
    top:15px;
    font-size: 16px;
    border-radius: 5px;
    
  }



