table {
    width:50%;
    background-color: rgb(206, 233, 238);
    position: relative;
    left: 10px;
    font-size: 14px;
    top:100px;
  }
  
  .btnatras{
    top: 50px;
    left: 4px;
  }

  .mat-form-field {
    background-color: rgba(75, 125, 182, 0.349);
    font-size: 14px;
    width:50%;
    left: 10px;;
    top:100px;
    font-size: 16px;
    border-radius: 5px;
    
  }

  .matpa{
    width:50%;
    background-color: rgba(75, 125, 182, 0.349);
    position: relative;
    left: 10px;
    font-size: 16px;
    top: 100px;
  }

 



