
<img class="imglog" src="./../../assets/imagen/logomanantialt.png">
<br>
<mat-card class="mycard">
<form class="example-form">

    <mat-form-field class="example-full-width">
        <input maxlength="50" matInput placeholder="Correo Electrónico" [formControl]="emailFormControl">
       <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
         Por favor ingrese un correo válido
       </mat-error>
       <mat-error *ngIf="emailFormControl.hasError('required')">
          e-mail es <strong>requerido</strong>
       </mat-error>
     </mat-form-field>

  <mat-form-field class="example-full-width">
    <input class="inputlog"  required matInput placeholder="Contraseña" maxlength="50"  [type]="hide ? 'text' : 'password'">
    <mat-icon matSuffix (click)="hide = !hide"> {{hide ? 'visibility_on' : 'visibility_off'}}</mat-icon>
  </mat-form-field>


  <button  mat-raised-button color="primary">Entrar</button>
  
  <br>

  <a href="#" class="forgot-password">
      ¿Olvidastes tu contraseña? 
  </a>
  <br>
  <br>
  <a routerLink="/registrarse" >
   Registrarse 
  </a>

</form>

</mat-card>



