<h3>Hola {{email}},<br>no olvide que su nueva contraseña
  debe tener<br> un mínimo de 6 caracteres y es  necesario que halla iniciado<br>
  sesión recientemente.
</h3>
<form  (ngSubmit)="actualizarPass(formAct)" #formAct="ngForm" name="formAct" class="example-form">
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="pass" minlenght="6" name="pass" type="password" required  matInput placeholder="Ingrese Contraseña nueva" >
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="cpass" name="cpass" minlenght="6" type="password" required matInput placeholder="Confirme Contraseña nueva" >
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Cambiar Contraseña</button>
    
    
  </form>
