<mat-card>
  <h1 style="color:navy; text-align:center; font-family:Arial, Helvetica, sans-serif" >Enviar Sugerencia</h1>
</mat-card> 
<br>
<mat-card class="mimat">
<form name="formSugerencia" #formSugerencia="ngForm" (ngSubmit)="onSaveSugerencia(formSugerencia)" class="example-form">
   
  <mat-toolbar>
      <span style="color:navy">Enviar Sugerencia</span>
  </mat-toolbar>

  <input type="hidden" name="id" [(ngModel)]="dataApi.formData.id" >
  <input type="hidden" [(ngModel)]="email" value="{{email}}" required name="email" >
  <input type="hidden" [(ngModel)]="dataApi.formData.fecha" name="fecha" value="{{fecha}}" >
 
  
      <mat-form-field class="example-full-width">
          <textarea [(ngModel)]="dataApi.formData.mensaje" name="mensaje" #message maxlength="200"   class="inputlog" matInput  placeholder="Mensaje" type="text" required ></textarea>
          <mat-hint align="start"><strong>No ingrese información personal</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 250</mat-hint>
        </mat-form-field>
  
  <button type="submit"  mat-raised-button color="primary">Enviar Mensaje</button>

</form>


</mat-card>
