
 <!--<mat-form-field class="example-full-width">
  <mat-label>Seleccione Producto</mat-label>
  <mat-select  [(ngModel)]="correoE" name="correoE">
    <mat-option *ngFor="let lista of listaClientes" [value]="lista.email">
      {{lista.email}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button (click)="getClientesRent(this.correoE)">Generar</button>
-->

<div style="display: block; width: 85%;height: 80%;margin-left: 20px;">
      
  <canvas  baseChart 
  [datasets]= "barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [plugins]="barChartPlugins"
  [legend]="barChartLegend"
  [chartType]="barChartType"
  (chartClick)="chartClicked($event)"
  >
  
  </canvas>

  
</div>