<div>
    <h1 style="color:navy; text-align:center; font-family:Arial, Helvetica, sans-serif" >Reportes</h1>
  <div style="display:inline">
    <button (click)="getReporteV()" style="margin-left:10px" mat-button mat-raised-button color="primary" >Reporte de Venta</button>
    <button (click)="getReporteP()" style="margin-left:10px" mat-button mat-raised-button color="primary" >Reporte de Cliente</button>
  </div>
 
</div>
<div>
    <div>
      <div style="display: block; width: 85%;height: 80%;margin-left: 20px;">



       


        <canvas *ngIf="reporteV===true" baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
        </canvas>

        
      </div>
    <app-reporteP *ngIf="reporteP===true">
    
    </app-reporteP>
      
     <!-- <button *ngIf="reporteV==true || reporteP===true" style="margin-left:10px" mat-button mat-raised-button color="primary" (click)="randomize()">Actualizar</button>-->
    </div>
  </div>
 