<div>
    <h1 style="color:navy; text-align:center; font-family:Arial, Helvetica, sans-serif" >Reportes</h1>
  <div style="display:inline">
    <button style="margin-left:10px" mat-button mat-raised-button color="primary" >Reporte de Venta</button>
   <button style="margin-left:10px" mat-button mat-raised-button color="primary" >Reporte de Producto</button>
  </div>
 
</div>
<div>
    <div>
      <div style="display: block; width: 90%;height: 80%;margin-left: 20px;">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
      <button style="margin-left:10px" mat-button mat-raised-button color="primary" (click)="randomize()">Actualizar</button>
    </div>
  </div>
 