.mycard{
  min-width: 150px;
  max-width: 500px;
  
  text-align:center;
  padding:2px;
 cursor:pointer;
 display:block;
 width:60%;
 margin: 0 auto;
 padding: 10px;
 height: 80%;
 
 position:relative;
}

  .mycard:hover{
    -webkit-box-shadow: 0px 0px 22px 9px rgba(26,9,92,1);
    -moz-box-shadow: 0px 0px 22px 9px rgba(26,9,92,1);
    box-shadow: 0px 0px 22px 9px rgba(26,9,92,1);
    
  }

 


  
  .example-full-width {
    width: 100%;
  }
.mat{
  background-color: aqua;
  padding: 300px;
  text-align: right;
 
}

.imglog{
  width: 40%; height: 30%;
  display:block;
  margin:auto;
  
}

.forgot-password{
  text-align: center;
  position: relative;
}

.areg{
  text-align: center;
  position: relative;
}

.rdiv{
  display: flex;
  flex-direction: column;
}
.rdiv > *{
width: 80%;
}