
<br>
<mat-card class="mycard">
<form class="example-form">
   
  <mat-toolbar>
      <span style="color:navy">Registrarse</span>
  </mat-toolbar>

  <table class="example-full-width" cellspacing="0"><tr>

      <td><mat-form-field class="example-full-width">
           <input  matInput placeholder="Primer Nombre" maxlength="30" required  >
           
           </mat-form-field></td>
   
      <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Segundo Nombre" maxlength="30" >
         </mat-form-field></td>
    </tr></table>
  
    <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Primer Apellido" maxlength="30"  required>
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Segundo Apellido" maxlength="30" >
        </mat-form-field></td>
      </tr></table>
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Dirección" maxlength="200"  required></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
     <input maxlength="50" matInput placeholder="Correo Electrónico" type="email" required>
   
  </mat-form-field>


    <mat-form-field class="example-full-width">
      <input  class="inputlog" required matInput placeholder="Contraseña"  [type]="hide ? 'text' : 'password'">
      
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input id="pw2" class="inputlog" required matInput placeholder="Confirmar Contraseña"  type="password">
        
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <span matPrefix>+505 &nbsp;</span>
          <input type="tel" minlength="8" maxlength="8"  matInput placeholder="N° Teléfono">
          <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>
    
  

  <button   mat-raised-button color="primary">Registrarse</button>
  
 

  

</form>
</mat-card>
