<mat-card>
  <h1 style="color:navy; text-align:center; font-family:Arial, Helvetica, sans-serif" >Iniciar Sesion</h1>
</mat-card> 

<img class="imglog" src="./../../assets/imagen/logomanantialt.png">
<br>
<mat-card class="mycard">
<form #formLogin="ngForm" name="ngFomr" (submit)="onLoginEmail()" class="example-form">

    <mat-form-field class="example-full-width">
        <input  [(ngModel)]="email" name="email" [formControl]="emailFormControl" maxlength="50" type="email" matInput placeholder="Correo Electrónico" required
       
    type="email">

    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Por favor ingrese un e-mail válido
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      e-mail <strong>requerido</strong>
    </mat-error>
     </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]="pass" name="pass" class="inputlog"  required matInput placeholder="Contraseña" maxlength="50"  [type]="hide ? 'text' : 'password'">
    <mat-icon matSuffix (click)="hide = !hide"> {{hide ? 'visibility_on' : 'visibility_off'}}</mat-icon>
  </mat-form-field>

<div class="div1">
  <button type="submit" class=btn  mat-raised-button color="primary">Entrar</button>
</div>

<!--
<div>
  <button class="btng" (click)="onLoginGoogle()"  mat-raised-button color="primary"><img class="imgicong" src="./../../assets/imagen/logos/Google_icon-icons.com_60497.png"> Google</button>
</div>
-->

<label  style="color:red">{{mensaje}}<br></label>
</form>

  <a href="#" class="forgot-password">
      ¿Olvidastes tu contraseña? 
  </a>
  
  <br>
  <a class="aclas"  type="button" (click)="openDialog()" >
   Registrarse 
  </a>



</mat-card>



