<button class="btnatras" routerLink="/producto" mat-fab color="primary"><i class="material-icons">
    arrow_back
    </i></button>
<br>
<img class="imglog" src="./../../assets/imagen/logomanantialt.png">
<br>
<mat-card class="mimat">
<form class="example-form">
  
  <mat-toolbar>
      <span style="color:navy">Registrar Productos</span>
  </mat-toolbar>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]="nlote" name="nlote" class="inputlog" type="text" matInput placeholder="N° Lote" maxlength="6" required >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]="cant" name="cant"  class="inputlog" type="number" matInput placeholder="Cantidad" required >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Presentacion" class="inputlog" [(ngModel)]="op" name="op" required>
      <mat-option value="option">Bidon</mat-option>
      <mat-option value="option">Galon</mat-option>
      <mat-option value="option">Pack 1 Litro</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <button  mat-raised-button color="primary">Guardar</button>
  
 

  

</form>


</mat-card>  
