<mat-card>
  <h1 style="color:navy; text-align:center; font-family:Arial, Helvetica, sans-serif" >Productos</h1>
</mat-card> 

<button class="butonagregar" mat-raised-button (click)="openDialog()">
    <mat-icon>add</mat-icon>Nuevo
    </button>

<!--
<ng-content></ng-content>
<mat-form-field>
    <input matInput maxlength="30" (keyup)="applyFilter($event.target.value)" placeholder="Buscar Nombre">
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
  <tr  *ngFor="let producto of productos">
   
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> 1 </td>
    </ng-container>
  
   
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> Codigo </th>
      <td mat-cell *matCellDef="let element"> {{producto.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{producto.nombre}} </td>
      </ng-container>
  
  
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> C$ {{producto.precio}}  </td>
    </ng-container>
  
   
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Editar/Eliminar</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
        </td>
      </ng-container>

    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr *ngFor="let producto of productos; index as i"></tr>

  
  </table>
  <mat-paginator class="matpa" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
-->
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
         
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let producto of productos; index as i">
        
          <th scope="row">{{i+1}}</th>
          
          <th style="font-weight: normal">{{producto.codigo}}</th>
          <th style="font-weight: normal">{{producto.nombre}}</th>
          <th style="font-weight: normal">{{producto.precio}}</th>
          
          <button class="btn btn-danger" (click)="onPreUpdateProducto(producto)" mat-icon-button ><mat-icon>launch</mat-icon></button>
          <button class="btn btn-danger" color="warn" (click)="onDeleteProducto(producto.id)" mat-icon-button  ><mat-icon>delete_outline</mat-icon></button>
         
        <!-- <ng-template #noOwner>
            <td>
              <button class="btn btn-secondary" disabled="true">Update</button>
            </td>
          </ng-template>
          <td *ngIf="isAdmin == true; else noAdmin">
            <button class="btn btn-danger" (click)="onDeleteProducto(producto.id)">Delete</button>
          </td>
          <ng-template #noAdmin>
            <td>
              <button class="btn btn-danger" disabled="true">Delete</button>
            </td>
          </ng-template>
          </tr>
        -->
     
    
      </tbody>
    </table>