<div >

    <div >
      <div >

      <h2 >Servicios</h2>

      <p>Facilitando el proceso de pedidos de agua purificada, al mejor precio y el mejor producto.</p>
     
      <img src='./../../assets/imagen/imagen.PNG'>
        <p><a  role="button" href="#">Ver detalles &raquo;</a></p>
      </div>

      <div >
        <h2 >Información</h2>
        <p>AGUA Manantial de vida, agua que nace en el corazón de ASmerrisque.</p>
         <img src='./../../assets/imagen/imagenmanan.jpg'>
        <p><a role="button" href="#" >Ver Detalles &raquo;</a></p>
      </div>
      <div>
      <h2 >Contacto</h2>
      <p>Brindaremos la información que necesite...<br><br></p>
      <img src='./../../assets/imagen/logomanantial.png'>
      <p><a role="button" href="#">Ver Detalles &raquo;</a></p>      
      </div>
    </div>
    </div>
    <footer>
      <div layout="row" layout-align="center center">
          <h2>Copyright &copy; MANANTIAL DE VIDA 2019</h2>
         
      </div>
  </footer>