<header class="header">
 
</header>
   
    <div class="row" >
      <div >
      <h2>Servicios</h2>

      <p>Facilitando el proceso de pedidos de agua purificada, al mejor precio y el mejor producto.</p>
     
      <img class="img" src='./../../assets/imagen/imagen.PNG'>
        <p><a  role="button" href="#verdetalle">Ver detalles &raquo;</a></p>
        
      </div>
      

      <div >
      
               <h2 >Información</h2>
        <p>AGUA Manantial de vida, agua que nace en el corazón de Amerrisque.</p>
         <img class="img" src='./../../assets/imagen/imagenmanan.jpg'>
        <p><a role="button" href="#info" >Ver Detalles &raquo;</a></p>
      </div>
      <div>
      <h2 >Contacto</h2>
      <p>Brindaremos la información que necesite...</p>
      <img class="img" src='./../../assets/imagen/logomanantial.png'>
      <p><a role="button" href="#cont" >Ver Detalles &raquo;</a></p>      
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  
  
        
     <mat-card>
       <div>
          <h1 id="verdetalle" style="color:navy; text-align:center; font-family:Arial, Helvetica, sans-serif" >Presentaciones de productos</h1>
        </div>
          <mat-grid-list cols="3" rowHeight="2:1.5">
        <mat-grid-tile class="columpr" *ngFor="let producto of productos">
           
        
     
        
           <div class="cuadroimagen">
        <img style="height:200px; whidth:200px" src="{{producto.imagen}}" alt="{{producto.nombre}}" >
        
        <p class="h3t">Producto:<strong> {{producto.nombre}}</strong></p>
        <div >
           <div style="padding-bottom:5px;">
              Precio:<strong> {{producto.precio}} C$ </strong>
            </div>
            <a><button routerLink="/carrito/{{producto.id}}" mat-raised-button color="primary" >Añadir <mat-icon>add_shopping_cart</mat-icon></button></a>
          </div>
          </div>
        </mat-grid-tile>
 
      </mat-grid-list>
    </mat-card>
 



<mat-card id="info" class="masinfo">
    <div class="row2">

        <div >
  
        <img class="img2" src="./../../assets/imagen/fotocordillera.png">
  
        <p><b> La cordillera de amerrisque es la espina central de Nicaragua y forma parte de la Cordillera centroamericana que se extiende a lo largo de Nicaragua, desde Honduras hasta Costa Rica. allí en la llamada cordillera de amerrisque formada por mesetas y elevaciones escarpadas y los cerros de la Cordillera chontaleña se encuentra la reserva natural Sierra de amerrisque. 
          </b></p>
       </div>
  
        <div >
          
          <img class="img2" src="./../../assets/imagen/fotoarboles.png" >
          <p><b>
               En la reserva natural sierra de amerrisque a 152 kilómetros de Managua en medio de un bosque natural y virgen tiene su origen agua Manantial de vida, agua que nace y se basa en su origen, Esta agua brota de un Manantial en medio de la reserva natural, una reserva que dentro de los límites de nuestra propiedad la empresa se encarga de mantener virgen.
  
               </b></p>
         
          
              </div>
        <div >
        <img class="img2" src="./../../assets/imagen/fotoagua.png" >
        
        <p><b> 
          En la parte alta de la cordillera se recibe la lluvia a medida que el aire se enfría por la altura y la humedad contenida en las nubes se condensa, esto permite a las plantas atrapar agua directamente del aire, la vegetación retiene el agua por un tiempo y luego la libera lentamente, eso permite que el agua se filtre de manera constante entre las grietas del suelo rocoso.</b></p>
             
        </div>
  
        
        <div >
        <img class="img2" src="./../../assets/imagen/fotocerros.png" >
        
        <p><b>
          y todo esto sirve para que el interior de la montaña se convierta en una esponja de piedra caliza que almacena enormes cantidades de agua. El paso lento del agua a través de las rocas elimina todas las impurezas y los microorganismos la montaña entera se convierte en un enorme filtro natural que purifica el agua en su interior sin intervención humana alguna.
  
          </b></p>
             
        </div>
  </div>
</mat-card>

<br>
<br>
<br>
<br>
<br>
<br>
<div class="clasbtn">
<button id="cont"  mat-raised-button color="primary" (click)="openDialog()">Contactar</button>

</div>
<br>
<br>
<br>





    <footer>
      <div layout="row" layout-align="center center">
          <h2>Copyright &copy;2019,  Manantial de Vida. Todos los Derechos Reservados</h2>
      </div>
      <div class="icon">
        <a class="a" href="facebook.com"><img class="imgicon" src="./../../assets/imagen/logos/facebook.png"></a>
        <a class="a" href="https://www.youtube.com/watch?v=alEDq9VCXk4&t=634s"><img class="imgicon" src="./../../assets/imagen/logos/youtube.png"></a>
        <a class="a" href="https://web.whatsapp.com/"><img class="imgicon" src="./../../assets/imagen/logos/wpp.png"></a>
        </div>
        <div>
          Dirección: Km. 152 Carretera a El Rama.
Entrada El Carmen Km. N° 9 Comarca El Juste,
Juigalpa,Chontales.<br>
Tel.: 8358 0364 - 8852 2997 - 8926 8060 <br>

Correo Electrónico: aguamanatialvida@gmail.com
        </div>
      </footer>